<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Загрузка файла</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container">
    <h1>Загрузка файла</h1>

    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Выберите файл:</label>
            <input type="file" id="file" name="file" required>
        </div>
        <button type="submit">Загрузить</button>
    </form>
</div>
</body>
</html>